* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/*Utilities*/
.padding {
  padding: 2%;
}
/*Aside*/

aside {
  width: 230px;
  background-color: black;
  padding: 1%;
}

aside > img {
  width: 150px;
}
aside > ul {
  list-style-type: none;
}
aside ul img {
  width: 30px;
}
aside li {
  color: #707277;
  padding: 5%;
}

aside h4 {
  color: white;
}

/*Header*/

.header-container {
  display: flex;
  background-color: #080b12;
  justify-content: right;
  padding: 1%;
}
.button {
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 17px;
  font-weight: bold;
}

/*Main*/

.gallery-container {
  flex-grow: 1;
  background-color: #141922;
}

/*Nav bar*/
.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 1%;
  color: #73767a;
}

.nav-list > li {
  padding: 6px;
  font-weight: bold;
}
/*Sections*/

section {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: blueviolet;
  margin: 2px;
  width: calc(100% / 6);
  height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top {
  height: calc (100% - 100px);
  display: flex;
  overflow: auto;
}

/*bottom*/
.bottom {
  height: 100px;
  background-color: rgba(189, 185, 185, 0.973);
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.bottom ul {
  display: flex;
  list-style-type: none;
}

.bottom li {
  padding: 1%;
}

.bottom img {
  width: 50px;
}

/*left-items*/
.left-items {
  display: flex;
}

/*middle-items*/
.middle-items {
  display: flex;
}

/*right-items*/
.right-items {
  display: flex;
}
