* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utilities*/
.border {
  border: 1px black solid;
}
.body {
  display: flex;
}

/*Header*/

.header-container {
  display: flex;
  background-color: rgb(201, 172, 135);
  justify-content: space-between;
  padding: 1%;
}
.button {
  color: white;
  background-color: black;
  padding: 8px 50px;
  border-radius: 30%;
}
.logo {
  color: white;
  background-color: black;
}

/*Main*/

.gallery-container {
  flex-grow: 1;
  background-color: rgba(117, 70, 70, 0.651);
}

/*Nav bar*/
.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 1%;
  color: #73767a;
}

.nav-list > li {
  padding: 6px;
}
/*Sections*/
.section1 {
  display: flex;
  padding: 1%;
}
.card {
  background-color: blueviolet;
  margin: 2px;
  width: 20%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
